header .navbar__icons, header .navbar__menu, header .navbar__logo, header .navbar, header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
}
header .navbar {
  z-index: 10;
  width: 100%;
  max-width: 1286px;
  height: 41px;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  header .navbar {
    max-width: 936px;
  }
}
@media screen and (max-width: 768px) {
  header .navbar {
    max-width: 700px;
  }
}
@media screen and (max-width: 480px) {
  header .navbar {
    max-width: 450px;
    margin-left: -10px;
  }
}
header .navbar__logo {
  height: 41px;
  width: 100%;
  max-width: 185px;
  justify-content: space-between;
  font-weight: 800;
  font-size: clamp(1.75rem, 1.625rem + 0.4167vw, 2.125rem);
  cursor: default;
}
@media screen and (max-width: 768px) {
  header .navbar__logo {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  header .navbar__logo {
    justify-content: center;
    margin-left: -7px;
  }
}
header .navbar__logo img {
  height: 32px;
  width: 100%;
  max-width: 50px;
}
header .navbar__menu {
  list-style: none;
  width: 100%;
  max-width: 430px;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  header .navbar__menu {
    max-width: 330px;
  }
}
@media screen and (max-width: 768px) {
  header .navbar__menu {
    position: absolute;
    top: 100px;
    right: 0;
    width: 150px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 3px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.5s ease, opacity 0.3s ease 0.2s;
  }
  header .navbar__menu a {
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transition-delay: 0s;
  }
}
header .navbar__menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: black;
  display: inline-block;
  transition: transform 0.05s ease-in-out, color 0.1s;
}
header .navbar__menu a:hover {
  transform: scale(1.05);
  color: #65501a;
}
header .navbar__menu a:active {
  transform: scale(0.95);
  color: #503f14;
}
header .navbar__menu.active {
  max-height: 400px;
  opacity: 1;
  pointer-events: auto;
  transition: max-height 0.5s ease, opacity 0.3s ease 0s;
}
header .navbar__menu.active a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
header .navbar__icons {
  width: 100%;
  max-width: 215px;
  height: 28px;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  header .navbar__icons {
    max-width: 175px;
  }
}
@media screen and (max-width: 480px) {
  header .navbar__icons {
    display: none;
  }
}
header .navbar__icons img {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.05s ease-in-out, color 0.1s;
}
header .navbar__icons img:hover {
  transform: scale(1.05);
}
header .navbar__icons img:active {
  transform: scale(0.95);
}
header .navbar__hamburger {
  width: 100%;
  max-width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
  transition: transform 0.05s ease-in-out, color 0.1s;
}
header .navbar__hamburger:hover {
  transform: scale(1.05);
  color: #65501a;
}
header .navbar__hamburger:active {
  transform: scale(0.95);
  color: #503f14;
}
@media screen and (max-width: 768px) {
  header .navbar__hamburger {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  header .navbar__hamburger {
    max-width: 35px;
    height: 35px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

main .hero {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 717px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  position: relative;
}
main .hero .hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
main .hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
main .hero__content {
  width: 100%;
  max-width: 643px;
  height: 443px;
  margin-right: clamp(3.125rem, 2.9167rem + 0.6944vw, 3.75rem);
  display: flex;
  flex-direction: column;
  background-color: #fff3e3;
  border-radius: 10px;
  padding: 57.5px 35px;
  align-items: start;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  main .hero__content {
    max-width: 500px;
    padding: 30px 25px;
  }
}
@media screen and (max-width: 768px) {
  main .hero__content {
    max-width: 550px;
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  main .hero__content {
    max-width: 380px;
    height: 450px;
    align-items: center;
    padding: 30px 36px;
  }
}
main .hero__content--new {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  color: #333333;
}
main .hero__content--title {
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 3.75rem);
  line-height: 65px;
  color: #65501a;
}
@media screen and (max-width: 1024px) {
  main .hero__content--title {
    line-height: 50px;
  }
}
@media screen and (max-width: 768px) {
  main .hero__content--title {
    line-height: 45px;
  }
}
@media screen and (max-width: 480px) {
  main .hero__content--title {
    text-align: center;
  }
}
main .hero__content--subtitle {
  font-size: clamp(1rem, 2.5vw, 1.125rem);
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  margin: 0 0 25px 0;
}
@media screen and (max-width: 1024px) {
  main .hero__content--subtitle {
    line-height: 21px;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 480px) {
  main .hero__content--subtitle {
    text-align: center;
    max-width: 250px;
  }
}
main .hero__content button {
  width: 100%;
  max-width: 222px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #65501a;
  border: none;
  border-radius: 1px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.05s ease-in-out, color 0.1s;
}
main .hero__content button:hover {
  transform: scale(1.01);
}
main .hero__content button:active {
  transform: scale(0.99);
  background-color: #503f14;
}
@media screen and (max-width: 1440px) {
  main .hero__content button {
    max-width: 175px;
    height: 60px;
  }
}
main .browse-range {
  width: 100%;
  max-width: 1183px;
  height: 685px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  main .browse-range {
    max-width: 500px;
    height: 1900px;
  }
}
@media screen and (max-width: 768px) {
  main .browse-range {
    height: 1625px;
  }
}
@media screen and (max-width: 480px) {
  main .browse-range {
    height: 1300px;
  }
}
main .browse-range__title h2 {
  font-weight: 700;
  font-size: 32px;
  color: #333333;
  text-align: center;
}
main .browse-range__title p {
  font-weight: 400;
  font-size: 20px;
  color: #666666;
  text-align: center;
}
main .browse-range__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  main .browse-range__cards {
    flex-direction: column;
    justify-content: space-between;
    height: 1725px;
  }
}
@media screen and (max-width: 768px) {
  main .browse-range__cards {
    width: 400px;
    margin-top: 75px;
  }
}
@media screen and (max-width: 480px) {
  main .browse-range__cards {
    height: 1110px;
    margin: 75px auto 0;
    align-items: center;
  }
}
main .browse-range__cards--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
}
@media screen and (max-width: 480px) {
  main .browse-range__cards--card {
    align-items: center;
    height: 335px;
    width: 275px;
  }
}
@media screen and (max-width: 768px) {
  main .browse-range__cards--card {
    height: 450px;
  }
}
main .browse-range__cards--card h3 {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
}
main .browse-range__cards--card img {
  width: 100%;
  max-width: 381px;
  height: 480px;
}
@media screen and (max-width: 1024px) {
  main .browse-range__cards--card img {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  main .browse-range__cards--card img {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  main .browse-range__cards--card img {
    max-width: 350px;
    height: 275px;
  }
}
main .our-products {
  width: 100%;
  max-width: 1236px;
  height: 1084px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  main .our-products {
    max-width: 675px;
    height: 2125px;
    margin-top: 75px;
  }
}
@media screen and (max-width: 768px) {
  main .our-products {
    max-width: 625px;
  }
}
@media screen and (max-width: 480px) {
  main .our-products {
    max-width: 400px;
    height: 1650px;
  }
}
main .our-products__title h2 {
  font-weight: 700;
  line-height: 120%;
  font-size: clamp(2rem, 1.8333rem + 0.5556vw, 2.5rem);
  color: #333333;
}
main .our-products__cards {
  height: 925px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
@media screen and (max-width: 1024px) {
  main .our-products__cards {
    height: 1934px;
    margin: 50px 0;
  }
}
@media screen and (max-width: 480px) {
  main .our-products__cards {
    height: 3968px;
  }
}
main .our-products__cards--card {
  max-width: 285px;
  height: 446px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  main .our-products__cards--card {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  main .our-products__cards--card {
    max-width: 180px;
    height: 315px;
    margin-bottom: 0;
  }
}
main .our-products__cards--card h3 {
  font-weight: 600;
  font-size: clamp(1.375rem, 1.3333rem + 0.1389vw, 1.5rem);
  line-height: 120%;
  color: #333333;
  padding: 0 20px;
}
main .our-products__cards--card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  padding: 0 20px;
}
main .our-products__cards--card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
main .our-products__cards--card__price--normal {
  font-weight: 600;
  font-size: clamp(1.125rem, 1.0833rem + 0.1389vw, 1.25rem);
  line-height: 150%;
  color: #333333;
}
main .our-products__cards--card:hover .our-products__cards--card__hover {
  opacity: 1;
}
main .our-products__cards--card__hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(58, 58, 58, 0.7176470588);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 0.15s ease;
}
main .our-products__cards--card__hover--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 252px;
  height: 96px;
  margin: 0 auto;
}
main .our-products__cards--card__hover--content__button {
  width: 100%;
  max-width: 202px;
  height: 48px;
  color: #65501a;
  background-color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  border-radius: 2px;
  transition: transform 0.05s ease-in-out;
}
main .our-products__cards--card__hover--content__button:hover {
  transform: scale(1.01);
  color: #65501a;
}
main .our-products__cards--card__hover--content__button:active {
  transform: scale(0.99);
  background-color: rgba(255, 255, 255, 0.8901960784);
}
main .our-products__cards--card__hover--content__options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
}
main .our-products__cards--card__hover--content__options div {
  display: flex;
  align-items: center;
  height: 24px;
  transition: transform 0.1s ease-in-out;
}
main .our-products__cards--card__hover--content__options div:hover {
  transform: scale(1.02);
}
main .our-products__cards--card__hover--content__options div:active {
  transform: scale(0.98);
}
main .our-products__cards--card__hover--content__options div img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 4px;
}
main .our-products__cards--card__hover--content__options div h4 {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}
main .our-products__show-more button {
  width: 245px;
  height: 48px;
  border-width: 2px;
  border-style: solid;
  border-color: #65501a;
  background-color: #fff3e3;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #65501a;
  border-radius: 2.5px;
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
}
main .our-products__show-more button:hover {
  transform: scale(1.01);
  background-color: rgba(255, 243, 227, 0.8352941176);
  color: rgba(101, 80, 26, 0.8588235294);
}
main .our-products__show-more button:active {
  transform: scale(0.99);
  background-color: rgb(250, 237, 222);
  color: #503f14;
}
main .room-inspiration {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 670px;
  margin: 0 auto;
  padding-left: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf8f3;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration {
    padding-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  main .room-inspiration {
    padding-left: 30px;
  }
}
@media screen and (max-width: 480px) {
  main .room-inspiration {
    flex-direction: column;
    padding: 0;
    width: calc(100vw - (100vw - 100%));
    margin: 0;
    height: 750px;
    padding-top: 25px;
  }
}
main .room-inspiration__text {
  width: 422px;
  height: 151px;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration__text {
    width: 225px;
    height: 370px;
  }
}
@media screen and (max-width: 480px) {
  main .room-inspiration__text {
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
main .room-inspiration__text--title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.1667rem + 1.1111vw, 2.5rem);
  line-height: 120%;
  color: #3a3a3a;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration__text--title {
    line-height: 95%;
  }
}
@media screen and (max-width: 768px) {
  main .room-inspiration__text--title {
    line-height: 120%;
  }
}
main .room-inspiration__text--subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  margin: 10px 0 25px 0;
}
@media screen and (max-width: 768px) {
  main .room-inspiration__text--subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  main .room-inspiration__text--subtitle {
    margin: 10px 0 0 0;
  }
}
main .room-inspiration__text--button {
  width: 176px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #65501a;
  border: none;
  border-radius: 1px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: 25px;
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
}
main .room-inspiration__text--button:hover {
  transform: scale(1.01);
  background-color: #5d4a19;
}
main .room-inspiration__text--button:active {
  transform: scale(0.99);
  background-color: #503f14;
}
@media screen and (max-width: 768px) {
  main .room-inspiration__text--button {
    width: 160px;
    height: 45px;
  }
}
main .room-inspiration__slides {
  width: 100%;
  width: 876px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration__slides {
    width: 695.5px;
  }
}
@media screen and (max-width: 768px) {
  main .room-inspiration__slides {
    width: 489px;
  }
}
@media screen and (max-width: 480px) {
  main .room-inspiration__slides {
    width: inherit;
    justify-content: center;
  }
}
main .room-inspiration__slides--slide1 {
  width: 404px;
  height: 582px;
  margin: 0 10px;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration__slides--slide1 {
    width: 375px;
    height: 540px;
  }
}
@media screen and (max-width: 768px) {
  main .room-inspiration__slides--slide1 {
    width: 310px;
    height: 446px;
  }
}
main .room-inspiration__slides--slide2 {
  width: 372px;
  height: 486px;
  margin: 0 10px;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration__slides--slide2 {
    width: 350px;
    height: 455px;
  }
}
@media screen and (max-width: 768px) {
  main .room-inspiration__slides--slide2 {
    width: 300px;
    height: 381px;
  }
}
@media screen and (max-width: 480px) {
  main .room-inspiration__slides--slide2 {
    display: none;
  }
}
main .room-inspiration__slides--arrow {
  position: absolute;
  height: 75px;
  width: 75px;
  top: 253.5px;
  right: 35px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  main .room-inspiration__slides--arrow {
    display: none;
  }
}
main .room-inspiration__slides--dots {
  position: absolute;
  bottom: 75.5px;
  right: 360px;
  width: 100%;
  max-width: 80px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration__slides--dots {
    bottom: 100px;
    right: 210px;
  }
}
@media screen and (max-width: 768px) {
  main .room-inspiration__slides--dots {
    bottom: 130px;
    right: 290px;
  }
}
main .room-inspiration__slides--dots__dot-inactive {
  width: 11px;
  height: 11px;
  fill: #d8d8d8;
  cursor: pointer;
}
main .room-inspiration__slides--image-description {
  position: absolute;
  bottom: 75px;
  left: 600px;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 1024px) {
  main .room-inspiration__slides--image-description {
    left: 395px;
    bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  main .room-inspiration__slides--image-description {
    left: 330px;
    bottom: 215px;
  }
}
@media screen and (max-width: 480px) {
  main .room-inspiration__slides--image-description {
    left: 135px;
    bottom: 30px;
  }
}
main .room-inspiration__slides--image-description__text-box {
  max-width: 100%;
  width: 217px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.4862745098);
}
@media screen and (max-width: 768px) {
  main .room-inspiration__slides--image-description__text-box {
    width: 185px;
    height: 110px;
  }
}
main .room-inspiration__slides--image-description__text-box--number {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}
main .room-inspiration__slides--image-description__text-box--name {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.3333rem + 0.3472vw, 1.75rem);
  line-height: 120%;
  color: #3a3a3a;
}
main .room-inspiration__slides--image-description__next-slide {
  cursor: pointer;
}
main .collage {
  width: 100%;
  max-width: 1385px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 50px auto 0;
}
@media screen and (max-width: 1440px) {
  main .collage img {
    transform: scale(0.925);
  }
}
main .collage__text--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #666666;
}
main .collage__text--hashtag {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #3a3a3a;
}
main .collage__images {
  margin-top: 50px;
  width: inherit;
  height: 721px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .collage__images--left {
  height: 720px;
  width: 675px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  main .collage__images--left {
    height: 658px;
    width: 595px;
  }
}
main .collage__images--left__upper {
  display: flex;
  height: 389px;
  justify-content: space-between;
  align-items: end;
}
main .collage__images--left__lower {
  display: flex;
  height: 323px;
  justify-content: space-between;
  align-items: start;
}
main .collage__images--right {
  height: 690px;
  width: 436px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  main .collage__images--right {
    height: 624px;
    margin-left: -50px;
  }
}
main .collage__images--right__upper {
  display: flex;
  height: 433px;
  justify-content: space-between;
  align-items: end;
}
main .collage__images--right__lower {
  display: flex;
  height: 242px;
  justify-content: space-between;
  align-items: start;
}

footer {
  width: 100%;
  height: 505px;
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid rgba(102, 102, 102, 0.4);
  margin-top: 100px;
}
footer .upper {
  width: 100%;
  max-width: 1133px;
  height: 312px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer .upper__logo-address {
  width: 100%;
  max-width: 285px;
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .upper__logo-address--logo {
  font-weight: 700;
  font-size: 24px;
  color: black;
  cursor: default;
}
footer .upper__logo-address--address {
  font-weight: 300;
  font-size: 16px;
  color: black;
}
footer .upper__links, footer .upper__help {
  width: 100%;
  max-width: 68px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
footer .upper__links h3, footer .upper__help h3 {
  font-weight: 600;
  font-size: 16px;
  color: black;
  cursor: default;
}
footer .upper__links a, footer .upper__help a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  transition: transform 0.05s ease-in-out, color 0.1s;
}
footer .upper__links a:hover, footer .upper__help a:hover {
  transform: scale(1.01);
  color: #65501a;
}
footer .upper__links a:active, footer .upper__help a:active {
  transform: scale(0.99);
  color: #503f14;
}
footer .upper__help {
  max-width: 140px;
  height: 242px;
}
footer .upper__newsletter {
  width: 100%;
  max-width: 286px;
  height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .upper__newsletter h3 {
  font-weight: 600;
  font-size: 16px;
  color: black;
  cursor: default;
}
footer .upper__newsletter--subscription {
  width: 100%;
  max-width: 286px;
  display: flex;
  justify-content: space-between;
}
footer .upper__newsletter--subscription input {
  width: 100%;
  max-width: 173px;
  height: 21px;
  border: none;
  border-bottom: 1px solid rgb(128, 128, 128);
  outline: none;
  transition: transform 0.05s ease-in-out;
  border-radius: 2.5px;
}
footer .upper__newsletter--subscription input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}
footer .upper__newsletter--subscription button {
  width: 100%;
  max-width: 75px;
  height: 21px;
  border: none;
  border-bottom: 2px solid rgb(128, 128, 128);
  font-weight: 500;
  font-size: 14px;
  color: black;
  background-color: white;
  border-radius: 2.5px;
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
}
footer .upper__newsletter--subscription button:hover {
  transform: scale(1.01);
  font-weight: 600;
  border-bottom: 2px solid rgb(0, 0, 0);
}
footer .upper__newsletter--subscription button:active {
  transform: scale(0.99);
  color: rgb(128, 128, 128);
  font-weight: 600;
  border-bottom: 2px solid rgb(128, 128, 128);
}
footer .lower {
  width: 100%;
  max-width: 1240px;
  height: 59px;
  display: flex;
  align-items: end;
  justify-content: start;
  margin: 0 auto;
  border-top: 1.5px solid rgba(102, 102, 102, 0.4);
  padding-left: 53.5px;
}
footer .lower p {
  font-weight: 400;
  font-size: 16px;
  color: black;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #fff3e3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #65501a;
  border-radius: 10px;
  border: 3px solid #fff3e3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(40.1614173228, 31.811023622, 10.3385826772);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #65501a #fff3e3;
}/*# sourceMappingURL=home.css.map */